body {
    font-family: 'Segoe UI', sans-serif;
}

span {
    font-style: italic;
   
}
.poster {
    padding: 15px;
    background-color: lavenderblush;
}
.film {
    display: flex;
    justify-content: center;
}
